USE [master]
GO
/****** Object:  Database [doanqlks]    Script Date: 12/11/2023 8:35:22 PM ******/
CREATE DATABASE [doanqlks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'doanqlks', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER4\MSSQL\DATA\doanqlks.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'doanqlks_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER4\MSSQL\DATA\doanqlks_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [doanqlks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [doanqlks]
GO
/****** Object:  Table [dbo].[tblKhach]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhach](
	[MaKhachHang] [int] NOT NULL,
	[CMND] [nvarchar](20) NULL,
	[HoTen] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhong]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhong](
	[SoPhong] [int] NOT NULL,
	[SucChua] [nvarchar](50) NULL,
	[DonGia] [int] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDangky]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDangky](
	[MaDangKy] [int] NOT NULL,
	[MaKhachHang] [int] NULL,
	[MaNhanVien] [int] NULL,
	[MaPhong] [int] NULL,
	[DonGia] [int] NULL,
	[NgayDangKy] [date] NULL,
	[NgayNhanPhong] [date] NULL,
	[NgayTraPhong] [date] NULL,
	[TongTien] [int] NULL,
	[Trangthai] [nvarchar](50) NULL,
 CONSTRAINT [PK__tblDangk__BA90F02D04D8A1A0] PRIMARY KEY CLUSTERED 
(
	[MaDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Thongtinhoadondathanhtoan]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Thongtinhoadondathanhtoan]
AS
SELECT dbo.tblDangky.MaDangKy, dbo.tblKhach.HoTen, dbo.tblPhong.SoPhong, dbo.tblDangky.NgayNhanPhong, dbo.tblDangky.NgayTraPhong, SUM(dbo.tblDangky.TongTien) AS 'Tong tien'
FROM   dbo.tblDangky INNER JOIN
             dbo.tblKhach ON dbo.tblDangky.MaKhachHang = dbo.tblKhach.MaKhachHang INNER JOIN
             dbo.tblPhong ON dbo.tblDangky.MaPhong = dbo.tblPhong.SoPhong
WHERE (dbo.tblDangky.Trangthai = N'Đã thanh toán')
GROUP BY dbo.tblDangky.MaDangKy, dbo.tblKhach.HoTen, dbo.tblPhong.SoPhong, dbo.tblDangky.NgayNhanPhong, dbo.tblDangky.NgayTraPhong
GO
/****** Object:  Table [dbo].[tblDichvu]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDichvu](
	[MaDichVu] [int] NOT NULL,
	[TenDichVu] [nvarchar](255) NULL,
	[GiaDichVu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoadonchitiet]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoadonchitiet](
	[MaDangKy] [int] NOT NULL,
	[MaDichVu] [int] NOT NULL,
	[NgaySuDung] [date] NOT NULL,
	[GiaDichVu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDangKy] ASC,
	[MaDichVu] ASC,
	[NgaySuDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhanvien]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanvien](
	[MaNhanVien] [int] NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblDangky] ([MaDangKy], [MaKhachHang], [MaNhanVien], [MaPhong], [DonGia], [NgayDangKy], [NgayNhanPhong], [NgayTraPhong], [TongTien], [Trangthai]) VALUES (1, 1, 1, 102, 150000, CAST(N'2023-12-11' AS Date), CAST(N'2023-12-13' AS Date), CAST(N'2023-12-22' AS Date), 1480000, N'Đã thanh toán')
GO
INSERT [dbo].[tblDichvu] ([MaDichVu], [TenDichVu], [GiaDichVu]) VALUES (1, N'Internet', 50000)
INSERT [dbo].[tblDichvu] ([MaDichVu], [TenDichVu], [GiaDichVu]) VALUES (2, N'Điện thoại', 30000)
INSERT [dbo].[tblDichvu] ([MaDichVu], [TenDichVu], [GiaDichVu]) VALUES (3, N'Giữ xe', 20000)
GO
INSERT [dbo].[tblHoadonchitiet] ([MaDangKy], [MaDichVu], [NgaySuDung], [GiaDichVu]) VALUES (1, 2, CAST(N'2023-12-11' AS Date), 30000)
INSERT [dbo].[tblHoadonchitiet] ([MaDangKy], [MaDichVu], [NgaySuDung], [GiaDichVu]) VALUES (1, 5, CAST(N'2023-12-11' AS Date), 100000)
GO
INSERT [dbo].[tblKhach] ([MaKhachHang], [CMND], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai]) VALUES (1, N'123456789', N'Nguyen Van A', CAST(N'1990-01-01' AS Date), N'Nam', N'0123456789')
INSERT [dbo].[tblKhach] ([MaKhachHang], [CMND], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai]) VALUES (2, N'987654321', N'Tran Thi B', CAST(N'1985-05-15' AS Date), N'Nữ', N'0987654321')
INSERT [dbo].[tblKhach] ([MaKhachHang], [CMND], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai]) VALUES (3, N'456789012', N'Le Van C', CAST(N'1988-12-20' AS Date), N'Nam', N'0369852147')
GO
INSERT [dbo].[tblNhanvien] ([MaNhanVien], [HoTen], [GioiTinh], [ChucVu]) VALUES (1, N'Nguyen Thi Nhan', N'Nữ', N'Lễ tân')
INSERT [dbo].[tblNhanvien] ([MaNhanVien], [HoTen], [GioiTinh], [ChucVu]) VALUES (2, N'Tran Van Binh', N'Nam', N'Quản lý')
INSERT [dbo].[tblNhanvien] ([MaNhanVien], [HoTen], [GioiTinh], [ChucVu]) VALUES (3, N'Le Van Tung', N'Nam', N'Nhân viên lễ tân')
GO
INSERT [dbo].[tblPhong] ([SoPhong], [SucChua], [DonGia], [TrangThai]) VALUES (101, N'Ðon', 120000, N'Trong')
INSERT [dbo].[tblPhong] ([SoPhong], [SucChua], [DonGia], [TrangThai]) VALUES (102, N'Ðôi', 150000, N'Da dat')
INSERT [dbo].[tblPhong] ([SoPhong], [SucChua], [DonGia], [TrangThai]) VALUES (103, N'Ðôi', 150000, N'Trong')
GO
ALTER TABLE [dbo].[tblDangky]  WITH CHECK ADD  CONSTRAINT [FK__tblDangky__MaKha__2A4B4B5E] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[tblKhach] ([MaKhachHang])
GO
ALTER TABLE [dbo].[tblDangky] CHECK CONSTRAINT [FK__tblDangky__MaKha__2A4B4B5E]
GO
ALTER TABLE [dbo].[tblDangky]  WITH CHECK ADD  CONSTRAINT [FK__tblDangky__MaNha__2B3F6F97] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[tblNhanvien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[tblDangky] CHECK CONSTRAINT [FK__tblDangky__MaNha__2B3F6F97]
GO
ALTER TABLE [dbo].[tblDangky]  WITH CHECK ADD  CONSTRAINT [FK__tblDangky__MaPho__2C3393D0] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[tblPhong] ([SoPhong])
GO
ALTER TABLE [dbo].[tblDangky] CHECK CONSTRAINT [FK__tblDangky__MaPho__2C3393D0]
GO
ALTER TABLE [dbo].[tblHoadonchitiet]  WITH CHECK ADD  CONSTRAINT [FK__tblHoadon__MaDan__30F848ED] FOREIGN KEY([MaDangKy])
REFERENCES [dbo].[tblDangky] ([MaDangKy])
GO
ALTER TABLE [dbo].[tblHoadonchitiet] CHECK CONSTRAINT [FK__tblHoadon__MaDan__30F848ED]
GO
ALTER TABLE [dbo].[tblHoadonchitiet]  WITH CHECK ADD FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[tblDichvu] ([MaDichVu])
GO
/****** Object:  StoredProcedure [dbo].[baocaothongkequanlykhachsan]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[baocaothongkequanlykhachsan]
	
AS
BEGIN

SELECT
    COUNT(DISTINCT dk.MaDangKy) AS TongSoDangKy,
    SUM(dk.TongTien) AS TongDoanhThu,
    AVG(dk.DonGia) AS GiaTriTrungBinhDangKy,
    COUNT(DISTINCT kh.MaKhachHang) AS TongSoKhachHang,
    COUNT(DISTINCT nv.MaNhanVien) AS TongSoNhanVien,
    COUNT(DISTINCT p.SoPhong) AS TongSoPhong,
    COUNT(DISTINCT dv.MaDichVu) AS TongSoDichVu,
    SUM(hct.GiaDichVu) AS TongDoanhThuDichVu
FROM
    tblDangky dk
LEFT JOIN tblKhach kh ON dk.MaKhachHang = kh.MaKhachHang
LEFT JOIN tblNhanvien nv ON dk.MaNhanVien = nv.MaNhanVien
LEFT JOIN tblPhong p ON dk.MaPhong = p.SoPhong
LEFT JOIN tblHoadonchitiet hct ON dk.MaDangKy = hct.MaDangKy
LEFT JOIN tblDichvu dv ON hct.MaDichVu = dv.MaDichVu;

END
GO
/****** Object:  StoredProcedure [dbo].[DeleteHoadonchitiet]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete
CREATE PROCEDURE [dbo].[DeleteHoadonchitiet]
    @MaDangKy INT,
    @MaDichVu INT,
    @NgaySuDung DATE
AS
BEGIN
    DELETE FROM dbo.tblHoadonchitiet
    WHERE MaDangKy = @MaDangKy AND MaDichVu = @MaDichVu AND NgaySuDung = @NgaySuDung;
END
GO
/****** Object:  StoredProcedure [dbo].[GetPriceByServiceCode]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPriceByServiceCode]
    @MaDichVu INT
AS
BEGIN
    SELECT [GiaDichVu]
    FROM [dbo].[tblDichvu]
    WHERE [MaDichVu] = @MaDichVu;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertHoadonchitiet]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Insert
CREATE PROCEDURE [dbo].[InsertHoadonchitiet]
    @MaDangKy INT,
    @MaDichVu INT,
    @NgaySuDung DATE,
    @GiaDichVu INT
AS
BEGIN
    INSERT INTO dbo.tblHoadonchitiet (MaDangKy, MaDichVu, NgaySuDung, GiaDichVu)
    VALUES (@MaDangKy, @MaDichVu, @NgaySuDung, @GiaDichVu);
END
GO
/****** Object:  StoredProcedure [dbo].[SelectHoadonchitiet]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Select
CREATE PROCEDURE [dbo].[SelectHoadonchitiet]
AS
BEGIN
    SELECT * FROM dbo.tblHoadonchitiet;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDangKy]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored procedure for deleting a record
CREATE PROCEDURE [dbo].[sp_DeleteDangKy]
    @MaDangKy INT
AS
BEGIN
    DELETE FROM tblDangky WHERE MaDangKy = @MaDangKy
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteKhach]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteKhach]
    @MaKhachHang INT
AS
BEGIN
    DELETE FROM tblKhach
    WHERE
        MaKhachHang = @MaKhachHang;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteNhanvien]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteNhanvien]
    @MaNhanVien INT
AS
BEGIN
    DELETE FROM tblNhanvien
    WHERE MaNhanVien = @MaNhanVien;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllDangKy]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored procedure for selecting all records
CREATE PROCEDURE [dbo].[sp_GetAllDangKy]
AS
BEGIN
    SELECT * FROM tblDangky
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDangKyByID]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored procedure for selecting a specific record by ID
CREATE PROCEDURE [dbo].[sp_GetDangKyByID]
    @MaDangKy INT
AS
BEGIN
    SELECT * FROM tblDangky WHERE MaDangKy = @MaDangKy
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDangKy]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored procedure for inserting a new record
CREATE PROCEDURE [dbo].[sp_InsertDangKy]
	@MaDangKy INT,
    @MaKhachHang INT,
    @MaNhanVien INT,
    @MaPhong INT,
    @DonGia INT,
    @NgayDangKy DATE,
    @NgayNhanPhong DATE,
    @NgayTraPhong DATE,
    @TongTien INT,
	@Trangthai nvarchar(50)
AS
BEGIN
    INSERT INTO tblDangky (MaDangKy,MaKhachHang, MaNhanVien, MaPhong, DonGia, NgayDangKy, NgayNhanPhong, NgayTraPhong, TongTien,Trangthai)
    VALUES (@MaDangKy,@MaKhachHang, @MaNhanVien, @MaPhong, @DonGia, @NgayDangKy, @NgayNhanPhong, @NgayTraPhong, @TongTien,@Trangthai)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDichvu]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertDichvu]
    @MaDichVu INT,
    @TenDichVu NVARCHAR(255),
    @GiaDichVu INT
AS
BEGIN
    INSERT INTO tblDichvu (MaDichVu, TenDichVu, GiaDichVu)
    VALUES (@MaDichVu, @TenDichVu, @GiaDichVu);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertKhach]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertKhach]
    @MaKhachHang INT,
    @CMND NVARCHAR(255),
    @HoTen NVARCHAR(255),
    @NgaySinh DATE,
    @GioiTinh NVARCHAR(50),
    @SoDienThoai NVARCHAR(20)
AS
BEGIN
    INSERT INTO tblKhach (MaKhachHang, CMND, HoTen, NgaySinh, GioiTinh, SoDienThoai)
    VALUES (@MaKhachHang, @CMND, @HoTen, @NgaySinh, @GioiTinh, @SoDienThoai)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertNhanvien]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertNhanvien]
    @MaNhanVien INT,
    @HoTen NVARCHAR(255),
    @GioiTinh NVARCHAR(10),
    @ChucVu NVARCHAR(50)
AS
BEGIN
    INSERT INTO tblNhanvien (MaNhanVien, HoTen, GioiTinh, ChucVu)
    VALUES (@MaNhanVien, @HoTen, @GioiTinh, @ChucVu);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaPhong]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure để cập nhật thông tin của một phòng
CREATE PROCEDURE [dbo].[sp_SuaPhong]
    @SoPhong INT,
    @SucChua NVARCHAR(50),
    @DonGia INT,
    @TrangThai NVARCHAR(20)
AS
BEGIN
    UPDATE tblPhong
    SET SucChua = @SucChua,
        DonGia = @DonGia,
        TrangThai = @TrangThai
    WHERE SoPhong = @SoPhong
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemPhong]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure để thêm một phòng mới
CREATE PROCEDURE [dbo].[sp_ThemPhong]
    @SoPhong INT,
    @SucChua NVARCHAR(50),
    @DonGia INT,
    @TrangThai NVARCHAR(20)
AS
BEGIN
    INSERT INTO tblPhong (SoPhong, SucChua, DonGia, TrangThai)
    VALUES (@SoPhong, @SucChua, @DonGia, @TrangThai)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDangKy]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored procedure for updating a record
CREATE PROCEDURE [dbo].[sp_UpdateDangKy]
    @MaDangKy INT,
    @MaKhachHang INT,
    @MaNhanVien INT,
    @MaPhong INT,
    @DonGia INT,
    @NgayDangKy DATE,
    @NgayNhanPhong DATE,
    @NgayTraPhong DATE,
    @TongTien INT,
	@Trangthai nvarchar(50)
AS
BEGIN
    UPDATE tblDangky
    SET
        MaKhachHang = @MaKhachHang,
        MaNhanVien = @MaNhanVien,
        MaPhong = @MaPhong,
        DonGia = @DonGia,
        NgayDangKy = @NgayDangKy,
        NgayNhanPhong = @NgayNhanPhong,
        NgayTraPhong = @NgayTraPhong,
        TongTien = @TongTien,
		Trangthai=@Trangthai
    WHERE MaDangKy = @MaDangKy
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDichvu]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateDichvu]
    @MaDichVu INT,
    @TenDichVu NVARCHAR(255),
    @GiaDichVu INT
AS
BEGIN
    UPDATE tblDichvu
    SET TenDichVu = @TenDichVu,
        GiaDichVu = @GiaDichVu
    WHERE MaDichVu = @MaDichVu;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateKhach]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateKhach]
    @MaKhachHang INT,
    @CMND NVARCHAR(255),
    @HoTen NVARCHAR(255),
    @NgaySinh DATE,
    @GioiTinh NVARCHAR(50),
    @SoDienThoai NVARCHAR(20)
AS
BEGIN
    UPDATE tblKhach
    SET
        CMND = @CMND,
        HoTen = @HoTen,
        NgaySinh = @NgaySinh,
        GioiTinh = @GioiTinh,
        SoDienThoai = @SoDienThoai
    WHERE
        MaKhachHang = @MaKhachHang;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateNhanvien]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateNhanvien]
    @MaNhanVien INT,
    @HoTen NVARCHAR(255),
    @GioiTinh NVARCHAR(10),
    @ChucVu NVARCHAR(50)
AS
BEGIN
    UPDATE tblNhanvien
    SET HoTen = @HoTen,
        GioiTinh = @GioiTinh,
        ChucVu = @ChucVu
    WHERE MaNhanVien = @MaNhanVien;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaPhong]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure để xóa một phòng
CREATE PROCEDURE [dbo].[sp_XoaPhong]
    @SoPhong INT
AS
BEGIN
    DELETE FROM tblPhong
    WHERE SoPhong = @SoPhong
END
GO
/****** Object:  StoredProcedure [dbo].[thongkethongtinhoadondathanhtoan]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[thongkethongtinhoadondathanhtoan]
	
AS
BEGIN

SELECT [MaDangKy]
      ,[HoTen]
      ,[SoPhong]
      ,[NgayNhanPhong]
      ,[NgayTraPhong]
      ,[Tong tien]
  FROM [dbo].[Thongtinhoadondathanhtoan]




END
GO
/****** Object:  StoredProcedure [dbo].[UpdateHoadonchitiet]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update
CREATE PROCEDURE [dbo].[UpdateHoadonchitiet]
    @MaDangKy INT,
    @MaDichVu INT,
    @NgaySuDung DATE,
    @GiaDichVu INT
AS
BEGIN
    UPDATE dbo.tblHoadonchitiet
    SET GiaDichVu = @GiaDichVu
    WHERE MaDangKy = @MaDangKy AND MaDichVu = @MaDichVu AND NgaySuDung = @NgaySuDung;
END
GO
/****** Object:  Trigger [dbo].[tr_UpdateTongTien]    Script Date: 12/11/2023 8:35:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo trigger cho tblDangky
CREATE TRIGGER [dbo].[tr_UpdateTongTien]
ON [dbo].[tblDangky]
AFTER INSERT, UPDATE
AS
BEGIN
  IF (SELECT COUNT(*) FROM inserted) > 0
    BEGIN
        UPDATE dk
        SET dk.DonGia = p.DonGia
        FROM tblDangky dk
        INNER JOIN tblPhong p ON dk.MaPhong = p.SoPhong
        INNER JOIN inserted i ON dk.MaDangKy = i.MaDangKy;
    END
    IF (SELECT COUNT(*) FROM inserted) > 0
    BEGIN
        UPDATE dk
        SET dk.TongTien = dk.DonGia * DATEDIFF(DAY, dk.NgayNhanPhong, dk.NgayTraPhong) + ISNULL((
                SELECT SUM(dv.GiaDichVu)
                FROM tblHoadonchitiet hdt
                INNER JOIN tblDichvu dv ON hdt.MaDichVu = dv.MaDichVu
                WHERE hdt.MaDangKy = dk.MaDangKy
            ), 0)
        FROM tblDangky dk
        INNER JOIN inserted i ON dk.MaDangKy = i.MaDangKy;
    END
END;
GO
ALTER TABLE [dbo].[tblDangky] ENABLE TRIGGER [tr_UpdateTongTien]
GO
/****** Object:  Trigger [dbo].[trg_UpdateTrangThai]    Script Date: 12/11/2023 8:35:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateTrangThai]
ON [dbo].[tblDangky]
AFTER INSERT,UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE p
    SET p.TrangThai = 'Da dat'
    FROM dbo.tblPhong p
    INNER JOIN inserted i ON p.SoPhong = i.MaPhong;
END;
GO
ALTER TABLE [dbo].[tblDangky] ENABLE TRIGGER [trg_UpdateTrangThai]
GO
/****** Object:  Trigger [dbo].[trg_UpdateTrangThaiOnDelete]    Script Date: 12/11/2023 8:35:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateTrangThaiOnDelete]
ON [dbo].[tblDangky]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE p
    SET p.TrangThai = 'Trong'
    FROM dbo.tblPhong p
    INNER JOIN deleted d ON p.SoPhong = d.MaPhong;
END;
GO
ALTER TABLE [dbo].[tblDangky] ENABLE TRIGGER [trg_UpdateTrangThaiOnDelete]
GO
/****** Object:  Trigger [dbo].[tr_UpdateGiaDichVu]    Script Date: 12/11/2023 8:35:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo trigger cho tblHoadonchitiet
CREATE TRIGGER [dbo].[tr_UpdateGiaDichVu]
ON [dbo].[tblHoadonchitiet]
AFTER INSERT, UPDATE
AS
BEGIN
  
        UPDATE hdt
        SET hdt.GiaDichVu = ISNULL((
                SELECT GiaDichVu
                FROM tblDichvu
                WHERE MaDichVu = i.MaDichVu
            ), 0)
        FROM tblHoadonchitiet hdt
        INNER JOIN inserted i ON hdt.MaDichVu = i.MaDichVu
        WHERE hdt.MaDangKy = i.MaDangKy AND hdt.NgaySuDung = i.NgaySuDung;
    
END;
GO
ALTER TABLE [dbo].[tblHoadonchitiet] ENABLE TRIGGER [tr_UpdateGiaDichVu]
GO
/****** Object:  Trigger [dbo].[trg_UpdateTongTien1]    Script Date: 12/11/2023 8:35:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateTongTien1]
ON [dbo].[tblHoadonchitiet]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaDangKy INT;

    -- Check if the trigger was fired due to an INSERT operation
    IF EXISTS (SELECT 1 FROM inserted)
    BEGIN
        SELECT @MaDangKy = MaDangKy FROM inserted;
    END
    ELSE
    -- Check if the trigger was fired due to an UPDATE or DELETE operation
    BEGIN
        SELECT @MaDangKy = MaDangKy FROM deleted;
    END

    -- Update TongTien in tblDangky
    UPDATE [dbo].[tblDangky]
    SET TongTien = DonGia * DATEDIFF(day, NgayNhanPhong, NgayTraPhong) + (
        SELECT ISNULL(SUM(GiaDichVu), 0)
        FROM [dbo].[tblHoadonchitiet]
        WHERE MaDangKy = @MaDangKy
    )
    WHERE MaDangKy = @MaDangKy;
END;
GO
ALTER TABLE [dbo].[tblHoadonchitiet] ENABLE TRIGGER [trg_UpdateTongTien1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[35] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblDangky"
            Begin Extent = 
               Top = 6
               Left = 374
               Bottom = 203
               Right = 614
            End
            DisplayFlags = 280
            TopColumn = 6
         End
         Begin Table = "tblKhach"
            Begin Extent = 
               Top = 35
               Left = 834
               Bottom = 232
               Right = 1056
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "tblPhong"
            Begin Extent = 
               Top = 98
               Left = 633
               Bottom = 295
               Right = 855
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Thongtinhoadondathanhtoan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Thongtinhoadondathanhtoan'
GO
USE [master]
GO
